apiVersion: v1
kind: Secret
metadata:
  name: hes-secrets
type: Opaque
data:
  API_ADDR:
  API_SENDER_ADDR:
  API_RECEIVER_ADDR:
  MAILER_HEALTH_CHECK_ADDR:
  MAILER_SENDER_ADDR:
  MAILER_RECEIVER_ADDR:
  SEND_GRID_API_KEY:
  MAIL_GUN_API_KEY:
  MAIL_GUN_DOMAIN:
  HES_DATABASE_URL:
  HES_USER_NAME:
  HES_PASSWORD:
